#login-section {
    padding: 20px 0;
}

.dsc-login-form-container {
    margin: 0 auto;
    width: 100%;
    max-width: 360px;
}

.dsc-form-controls-container {
    display: grid;
    grid-gap: 20px;
    margin: 20px;
    width: 100%;
}

.dsc-login-form-buttons {
    width: 100%;
}

@media (min-width: 576px){
    #login-section {
        padding: 40px 0;
    }
}